body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: sans-serif;
}
#container {
  display: flex;
  justify-content: center;
}

.inner {
  padding: 0px;
  display: inline;
  width: -webkit-fill-available;
}

table {
  font-family: arial, sans-serif;
  /* border collapse */
  width: 100%;
}

td, th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
}

.addBtn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.backBtn {
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.delBtn {
  background-color: palevioletred; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.header {
  padding: 16px;
}